.space {margin:15px;}

.sm-space{margin:5px;}

.tb-space{margin-top:10px;margin-bottom:10px;}

.extra-top{margin-top:20px;margin-bottom: 10px;}

.no-link{text-decoration: none;}

.font50{font-size:50pt;}

.font30{font-size:30pt;}
